<a href="https://colab.research.google.com/github/Koitoresu/Micro-Credential-Winter-2022/blob/main/Day_5_Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(123)

In [2]:
labels = ['a', 'b','c', 'd']
my_data = [10, 20, 30, 40]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30, 'd':40}

In [3]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [4]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [27]:
# Create a series of ten cities and years
cities = ['New York', 'Tokyo', 'Las Vegas', 'Los Angeles', 'Philidelphia',
          'Chicago', 'San Franciso', 'Boston', 'Cincinnati', 'Washington']
years = ['1996', '2011', '2017', '2001', '1944',
         '2007', '1909', '1947', '1928', '1972']
arr = np.array(years)
x = {'New York':'1996', 'Tokyo':'2011', 'Las Vegas':'2017', 'Los Angeles':'2001', 'Philidelphia':'1944', 
        'Chicago':'2007', 'San Franciso':'1909', 'Boston':'1947', 'Cincinnati':'1928', 'Washington':'1972'}

In [28]:
x

{'Boston': '1947',
 'Chicago': '2007',
 'Cincinnati': '1928',
 'Las Vegas': '2017',
 'Los Angeles': '2001',
 'New York': '1996',
 'Philidelphia': '1944',
 'San Franciso': '1909',
 'Tokyo': '2011',
 'Washington': '1972'}

In [29]:
pd.Series(data=years, index=cities)

New York        1996
Tokyo           2011
Las Vegas       2017
Los Angeles     2001
Philidelphia    1944
Chicago         2007
San Franciso    1909
Boston          1947
Cincinnati      1928
Washington      1972
dtype: object

In [30]:
pd.Series(data=cities, index=years)

1996        New York
2011           Tokyo
2017       Las Vegas
2001     Los Angeles
1944    Philidelphia
2007         Chicago
1909    San Franciso
1947          Boston
1928      Cincinnati
1972      Washington
dtype: object

# Data Frames

In [49]:
data = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], 
                    ['W', 'X', 'Y', 'Z'])

In [32]:
data

          W         X         Y         Z
A -0.275786 -0.552108  0.120747  0.748216
B  1.608691 -0.270232  0.812341  0.499740
C  0.474347 -0.563924 -0.997321 -1.100043
D -0.756437  0.321687  0.760949  0.323469
E -0.548955  1.805970  1.518866 -0.354000

In [50]:
data = pd.DataFrame(randn(10,10), cities, years)

In [51]:
data

                  1996      2011      2017  ...      1947      1928      1972
New York     -0.006130 -0.159245 -0.121449  ...  0.284603  1.218986  0.420180
Tokyo        -1.213385 -1.326488  1.408369  ... -1.420213 -0.866495 -0.666808
Las Vegas    -1.251190 -1.184327 -1.518108  ...  1.253336 -1.329079  0.278034
Los Angeles  -1.074767  0.668317  0.955832  ...  0.415695  0.160544  0.819761
Philidelphia  0.765055 -0.828989 -0.659151  ...  0.750610  0.342638 -0.126438
Chicago       1.175911  0.680072 -1.004967  ... -0.669647 -0.013604  0.686201
San Franciso -0.817668 -1.346358 -0.375750  ... -0.348608 -0.192615  0.449136
Boston       -0.145364  1.868726 -0.518704  ...  0.541231  1.340099 -1.569256
Cincinnati   -0.510343 -0.447771  0.937850  ...  0.179752 -1.040163  1.719035
Washington   -0.323860 -0.188297 -0.900009  ...  2.056467 -1.888492 -1.128331

[10 rows x 10 columns]

In [39]:
select1996 = data['1996']

In [40]:
select1996

New York       -0.823431
Tokyo           0.253816
Las Vegas       0.020316
Los Angeles    -1.048992
Philidelphia    0.093461
Chicago         0.177192
San Franciso    0.703310
Boston          0.579542
Cincinnati     -1.255669
Washington     -1.600441
Name: 1996, dtype: float64

In [41]:
select2011 = data['2011']

In [42]:
select2011

New York        0.130215
Tokyo           0.283725
Las Vegas      -0.193964
Los Angeles    -0.075121
Philidelphia    1.459589
Chicago        -0.029968
San Franciso   -0.598105
Boston          0.579690
Cincinnati     -0.551937
Washington      0.753869
Name: 2011, dtype: float64

In [43]:
select2017 = data['2017']

In [44]:
select2017

New York        1.267299
Tokyo          -1.411889
Las Vegas       0.134027
Los Angeles    -0.740814
Philidelphia    1.395353
Chicago         0.199582
San Franciso    2.200702
Boston         -0.274878
Cincinnati     -0.245203
Washington     -0.246816
Name: 2017, dtype: float64

In [45]:
select1944 = data['1944']

In [46]:
select1944

New York        0.556549
Tokyo          -1.019655
Las Vegas       0.665653
Los Angeles     0.403086
Philidelphia   -0.548642
Chicago         0.197019
San Franciso   -0.006307
Boston         -0.669103
Cincinnati      0.956602
Washington      0.322577
Name: 1944, dtype: float64

In [52]:
data['new'] = data['1909'] + data['1972']

# Create a new colunm with the combination of 3 columns from our dataset

In [53]:
data

                  1996      2011      2017  ...      1928      1972       new
New York     -0.006130 -0.159245 -0.121449  ...  1.218986  0.420180  1.056122
Tokyo        -1.213385 -1.326488  1.408369  ... -0.866495 -0.666808  0.597818
Las Vegas    -1.251190 -1.184327 -1.518108  ... -1.329079  0.278034 -1.375664
Los Angeles  -1.074767  0.668317  0.955832  ...  0.160544  0.819761  2.695561
Philidelphia  0.765055 -0.828989 -0.659151  ...  0.342638 -0.126438 -0.830780
Chicago       1.175911  0.680072 -1.004967  ... -0.013604  0.686201  0.437545
San Franciso -0.817668 -1.346358 -0.375750  ... -0.192615  0.449136 -1.306266
Boston       -0.145364  1.868726 -0.518704  ...  1.340099 -1.569256 -1.426831
Cincinnati   -0.510343 -0.447771  0.937850  ... -1.040163  1.719035  1.685345
Washington   -0.323860 -0.188297 -0.900009  ... -1.888492 -1.128331 -2.085912

[10 rows x 11 columns]