<a href="https://colab.research.google.com/github/Koitoresu/Micro-Credential-Winter-2022/blob/main/Day_3_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loops

In [ ]:
for x in 'CUNY':
  print(x)

C
U
N
Y

In [ ]:
TV_Shows = ['game of thrones', 'star trek', 'stranger things']

In [ ]:
for show in TV_Shows:
  print(show.upper() + ' is one of my fav TV shows')

GAME OF THRONES is one of my fav TV shows
STAR TREK is one of my fav TV shows
STRANGER THINGS is one of my fav TV shows

In [ ]:
TV_Shows

['game of thrones', 'star trek', 'stranger things']

In [ ]:
for x in range(1,21):
  print(x+3)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [ ]:
num = list(range(21, 1, -1))

# for x in list(range(1,11)):
#   print(x)

In [ ]:
num

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
len(num)

20

In [ ]:
min(num)

2

In [ ]:
max(num)

21

In [ ]:
sum(num)

230

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10, 23, 5, 6, 87, 98765, 345, 52, 3465, 4123, 454, 90]

In [ ]:
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10
23
5
6
87
98765
345
52
3465
4123
454
90

In [ ]:
17 % 2

1

In [ ]:
18 % 7

4

In [ ]:
for x in l:
  if x % 2 == 0:
    print(x)
  else:
    print(x, 'This is not an even number')

1 This is not an even number
2
3 This is not an even number
4
5 This is not an even number
6
7 This is not an even number
8
9 This is not an even number
10
23 This is not an even number
5 This is not an even number
6
87 This is not an even number
98765 This is not an even number
345 This is not an even number
52
3465 This is not an even number
4123 This is not an even number
454
90

In [ ]:
for letter in 'This is a string':
  print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
l2 = [12, 45, 6, 3, 45, 678, 2, 45657]

In [ ]:
listSum = 0

for num in l2:
  listSum = listSum + num

print(listSum)

46448

In [ ]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4':4}

In [ ]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [ ]:
for a,b in dy.items():
  print(a)
  print(b)

k1
1
k2
2
k3
3
k4
4